.big-button{
background: cadetblue;
border: none;
border-bottom: 0.6rem solid darkcyan;
color: white;
font-weight: bold;
font-size: 2rem;
margin-top: 4.8rem;
padding: 2.4rem;
width: 100%;
cursor: pointer;
}
.login-header{
background: cadetblue;
color: whitesmoke;
padding: 1.2rem;
display: flex;
justify-content: space-between;
}
.login-header--title{
  margin:0;
  cursor: pointer;
}
.login-form{
  background: darkgray;
  margin-bottom: 3.6rem;
}
.login-input{
  display:block;
  width: 100%;
}
.login-input-field{
  background: gray;
  border: none;
  color: white;
  padding: 1.9rem;
  border-bottom: 0.3rem solid darkgray;
width: -moz-available;
  margin: 4.5rem 4rem 0 4rem;
}
.login-error-msg{
  color: darkcyan;
  margin: 0;
  padding: 2.3rem;
  text-align: center;
  background: darkgray;
}
