


.btn-signUp{
  color:  #093d5eb3;
  padding: 12px 20px;
  border-radius: 15px;
  float: right;
  margin-top:10px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  margin-top: 70px;
}

.btn-signUp:hover {
  background-color: #093d5eb3;
  color:  white;
}

.color--icon{
  color: #fffdfde6;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
.btn-signUp{
      width: 100%;

  }
}